# Game of Thrones

Are you a fan of the Game of Thrones series? Let's test it. Let's use the API: <a href="https://anapioficeandfire.com/" target="_blank">https://anapioficeandfire.com/</a> to find out more about the series.

1. Import the following libraries: 

      * ```requests```
      * ```pandas```
      * ```json```

In [38]:
import requests
import pandas as pd
import json

2. Go to the URL indicated in the description above. Using `requests`, get data on a character in the series. It doesn't matter who the character is.

In [39]:
r=requests.get("https://anapioficeandfire.com/api/characters/45")
r.content

b'{"url":"https://anapioficeandfire.com/api/characters/45","name":"Aegon Targaryen","gender":"Male","culture":"Valyrian","born":"In or between 50 AC and 59 AC","died":"","titles":["Prince"],"aliases":[""],"father":"","mother":"","spouse":"","allegiances":["https://anapioficeandfire.com/api/houses/378"],"books":["https://anapioficeandfire.com/api/books/11"],"povBooks":[],"tvSeries":[""],"playedBy":[""]}'

3. Extract these data in JSON format:

In [40]:
r.json()

{'url': 'https://anapioficeandfire.com/api/characters/45',
 'name': 'Aegon Targaryen',
 'gender': 'Male',
 'culture': 'Valyrian',
 'born': 'In or between 50 AC and 59 AC',
 'died': '',
 'titles': ['Prince'],
 'aliases': [''],
 'father': '',
 'mother': '',
 'spouse': '',
 'allegiances': ['https://anapioficeandfire.com/api/houses/378'],
 'books': ['https://anapioficeandfire.com/api/books/11'],
 'povBooks': [],
 'tvSeries': [''],
 'playedBy': ['']}

4. Now extract the JSON keys you have obtained and create a DataFrame that will have the JSON keys you extracted as a column.

**Hint**: we can use: `r.json().keys()`.

In [41]:
r.json().keys()
data = pd.DataFrame(columns = r.json().keys())
data.head()

Empty DataFrame
Columns: [url, name, gender, culture, born, died, titles, aliases, father, mother, spouse, allegiances, books, povBooks, tvSeries, playedBy]
Index: []

5. Create a loop to extract data from the firsts 150 characters of the series and add them to your DataFrame.

In [44]:
# First, we iterate over the firsts 150 characters
for i in range(1,5):
    # Make a request
    r = requests.get("https://anapioficeandfire.com/api/characters/{}".format(i))
    # Store it in our DataFrame
    data = data._append(r.json(), ignore_index=True)
    print("{} personnage done".format(i))

1 personnage done
2 personnage done
3 personnage done
4 personnage done

In [45]:
data.head()

,url,name,gender,culture,born,died,titles,aliases,father,mother,spouse,allegiances,books,povBooks,tvSeries,playedBy
0,https://anapioficeandfire.com/api/characters/1,,Female,Braavosi,,,[],[The Daughter of the Dusk],,,,[],[https://anapioficeandfire.com/api/books/5],[],[],[]
1,https://anapioficeandfire.com/api/characters/2,Walder,Male,,,,[],[Hodor],,,,[https://anapioficeandfire.com/api/houses/362],"[https://anapioficeandfire.com/api/books/1, ht...",[],"[Season 1, Season 2, Season 3, Season 4, Seaso...",[Kristian Nairn]
2,https://anapioficeandfire.com/api/characters/3,,Male,,,,[],[Lamprey],,,,[https://anapioficeandfire.com/api/houses/15],[https://anapioficeandfire.com/api/books/3],[],[],[]
3,https://anapioficeandfire.com/api/characters/4,,Female,Braavosi,,,[],[The Merling Queen],,,,[],"[https://anapioficeandfire.com/api/books/5, ht...",[],[],[]